@model AdaptorsInterfaces.Model.Movie

<form method="post" role="form">
    <div class="form-group">
        <table class="table table-condensed">
            <tr>
                <td colspan="2"><img src="@Model.ImageUrl" style="display: block; width:300px; height:auto; margin-left:auto; margin-right:auto;"></td>
            </tr>
            <tr>
                <td colspan="2"><input class="form-control" value="@Model.ImageUrl" id="imageUrl" name="imageUrl" /></td>
            </tr>
            <tr>
                <th>Name</th>
                <th>Ratings</th>
            </tr>
            <tr>
                <td><input class="form-control" id="Name" name="Name" value="@Model.Name" /></td>
                <td>
                    <select class="form-control" id="Rating" name="Rating">
                        <option value="1">Onestar</option>
                        <option value="2">TwoStar</option>
                        <option value="3">ThreeStar</option>
                        <option value="4">FourStar</option>
                        <option value="5">FiveStar</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="hidden" id="MovieID" name="MovieID" value="@Model.MovieId" />
                    <button class="btn btn-success" type="submit">Save</button>
                </td>
            </tr>
        </table>
    </div>
</form>

